.container {
  background-color: #fcdde1;
  min-height: 100vh;
  padding: 20px;
}

.back-btn {
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
}

.title {
  background: white;
  border-radius: 15px;
  padding: 10px 20px;
  display: inline-block;
  font-weight: bold;
  font-size: 22px;
  margin: 10px 0;
}

.content {
  display: flex;
  gap: 20px;
  background: #fbe9eb;
  padding: 20px;
  border-radius: 20px;
}

.content img {
  width: 300px;
  border-radius: 10px;
}

.info {
  flex: 1;
}

.section {
  margin-bottom: 20px;
  background: #fff;
  padding: 15px;
  border-radius: 15px;
}

.section h3 {
  background: #cce7f9;
  display: inline-block;
  padding: 5px 15px;
  border-radius: 15px;
}