.home {
  
  height: 100vh;   /* cao full màn hình */
  width: 100vw;        /* rộng full màn hình */
   background-color: #ffced2; 
  /* fixed */
  background-size: cover;
  margin: 0;
  padding: 0;
       /* chặn tràn trong div này */
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;  /* chặn thanh trượt ngang */
  
}  
