
.container {
  padding: 20px;
}

.header {
  position: absolute;
  top: 30px;
  left: 20px;
  z-index: 1000;
}

.back-btn {
  position: absolute;
  top: 15px;
  left: 5px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.back-btn svg {
  transition: transform 0.2s;
}

.back-btn:hover svg {
  transform: translateX(-3px); /* hiệu ứng khi hover */
}

.title-box {
  background: #e69138;
  padding: 8px 16px;
  margin-left: 50px;
  border-radius: 4px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}